#header{
    width: $w;
    height: 35px;
    background-color: #fcfcfc;
    @include borderstyle(1px,solid,#edeef0);
    .contant{
        height: 35px;
        .header_left{
            float: left;
            line-height: 35px;
            span{
                font-size: $size;
                margin-right: 13px;
                position: relative;   
            }
            span::after{
                content: " ";
                position: absolute;
                top: 2px;
                right: -14px;
                width: 1px;
                height: 12px;
                background: #e2dde2;
            }
            a{
                font-size: $size;
                color: #ff6600;
                margin: 0 10px 0 10px;
                position: relative; 
            }
            a::after{
                content: " ";
                position: absolute;
                top: 2px;
                right: -10px;
                width: 1px;
                height: 12px;
                background: #e2dde2;
            }
        }
    }
}