/* 喜欢 */
#like{
    width: $w;
    height: 345px;
    .contant{
        height: 345px;
        h2{
            font-size: 24px;
            font-weight: 900;
            margin-top: 32px;
            margin-bottom: 16px;
            position: relative;
            a{
                position: absolute;
                right: 0;
                bottom: 10px;
                font-size: 16px;
                color: #333333;
            }
        } 
        .crown{
            width: $width;
            height: 298px;
            ul{
                width: $width;
                height: 298px;
                li{
                    width: 232px;
                    height: 298px;
                    float: left;
                    margin-right: 7px;
                    background-color: #fff;
                    position: relative;
                    @include borderstyle(1px,solid,#ededed);              
                }
                li:hover img{
                    transform: scale(1.1);
                }
                li:nth-child(5n){
                    margin-right: 0;
                }
                li:hover a{
                    color: #ff6600;
                }
            }
            .music{
                width: 202px;
                padding-left: 15px;
                padding-right: 15px;
                a{
                    width: 202px;
                    display: block;
                    color: #333333;
                }
                img{
                    width: 160px;
                    height: 160px;
                    margin-left: 24px;
                    margin-top: 30px;
                }
                .p{
                    margin-top: 10px; 
                }
                .p1{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
                span{
                    display: block;
                    color: #ff6600;
                    font-weight: 900;
                    font-size: 16px;
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                }
            }
            ol{
                width: $width;
                height: 298px;
                li{
                    width: 232px;
                    height: 298px;
                    float: left;
                    margin-right: 7px;
                    background-color: #fff;
                    position: relative;
                    @include borderstyle(1px,solid,#ededed);              
                }
                li:hover img{
                    transform: scale(1.1);
                }
                li:nth-child(5n){
                    margin-right: 0;
                }
                li:hover a{
                    color: #ff6600;
                }
            }
        }
    }
}