/* 喜欢 */
#like{
    width: $w;
    height: 345px;
    .contant{
        height: 345px;
        h2{
            font-size: 24px;
            font-weight: 900;
            margin-top: 32px;
            margin-bottom: 16px;
        } 
        .crown{
            width: $width;
            height: 298px;
            ul{
                width: $width;
                height: 298px;
                display: flex;
                justify-content: space-between;
                li{
                    width: 232px;
                    height: 298px;
                    float: left;
                    background-color: #fff;
                    @include borderstyle(1px,solid,#ededed);              
                }
                li:hover a{
                    color: #ff6600;
                }
            }
            .music{
                width: 202px;
                padding-left: 15px;
                padding-right: 15px;
                a{
                    width: 202px;
                    display: block;
                    color: #333333;
                }
                img{
                    margin-left: 24px;
                    margin-top: 30px;
                }
                .p{
                    margin-top: 10px; 
                }
                .p1{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
                span{
                    margin-top: 20px;
                    display: inline-block;
                    color: #ff6600;
                    font-weight: 900;
                    font-size: 16px;
                }
            }
        }
    }
}