/* 导航栏 */
#logo{
    width: $w;
    height: 160px;
    background-color: #fff;
    .contant{
        height: 160px;
        .logo_top{
            width: $width;
            height: 100px;
            padding-top: 20px;
            .img02{
                float: left;
            }
            .img03{
                float: left;
                margin-left: 20px;
                margin-right: 35px;
            }
            .search{
                width: 600px;
                float: left;
                margin-top: 20px;
            }
            input{
                width: 400px;
                height: 32px;
                border: 2px solid #ff6600;
                border-right: none;
                text-indent: 10px;
                color: #999999;
            }
            button{
                width: 90px;
                height: 36px;
                border: none;
                background-color: #ff6600;
                border-bottom: 2px solid #ff6600;
                margin-left: -4px;
                cursor: pointer;
                color: #fff;
            }
            .item01{
                width: 480px;
                height: 30px;
                margin-top: 8px;
                li{
                    float: left;
                    margin-right: 6px;
                }
                a{
                    font-size: 12px;
                    color: #666666;
                }
                a:hover{
                    color: #ff6600;
                }
            }
            .ping{
                float: right;
                width: 176px;
                height: 40px;
                margin-top: -70px;
            }
            i{
                float: left; 
            }
            .icon-shouji{
                display: block;
                font-size: 40px;
            }
            .phone{
                float: left;
                width: 40px;
                height: 38px;
                padding-top: 2px;
                font-weight: 900;
                cursor: pointer;
            }
            .phone1{
                color: #ff6600;
            }
            .span{
                width: 1px;
                height: 36px;
                margin-top: 4px;
                display: block;
                float: left;
                background-color: #dddddd;
            }
            .zheng{
                float: left;
                cursor: pointer;
            }
            .zheng1{
                font-size: 32px;
                font-weight: 900;
                color: #ff6600;
                margin-left: 10px;
            }
            .bao{
                width: 16px;
                height: 40px;
                font-size: 12px;
                font-weight: 900;
                display: inline-block;
            }
        }
        .logo_bottom{
            width: $width;
            height: 40px;
            .all{
                width: 210px;
                height: 40px;
                line-height: 40px;
                background-color: #ff6600;
                color: #fff;
                text-indent: 13px;
                cursor: pointer;
                font-size: 16px;
                float: left;
                margin-right: 50px;
            }
            ol{
                width: 770px;
                height: 40px;
                float: left;
                li{
                    float: left;
                    line-height: 40px;
                    margin-right: 50px;
                    position: relative;
                }
                a{
                    color: #333333;
                    font-weight: 900;
                }
                a:hover{
                    color: #ff6600;
                }
            }
            .dian{
                width: 150px;
                height: 40px;
                float: left;
                margin-left: 5px;
                img{
                    width: 150px;
                    height: 40px;
                }
            }
            ol .li01:hover .item{
                display: block;
            }
            ol .li02:hover .item1{
                display: block;
            }
            .item{
                width: 450px;
                height: 40px;
                position: absolute;
                top: 40px;
                left: -170px;
                z-index: 299;
                display: none;
                background-color: #ff6600;
                box-sizing: border-box;
            }
            .item1{
                width: 450px;
                height: 40px;
                position: absolute;
                top: 40px;
                left: -170px;
                z-index: 299;
                display: none;
                background-color: #ff6600;
                box-sizing: border-box;
            }
            .item .li{
                float: left;
                width: 100px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                color: #fff;
            }
            .item1 .li{
                float: left;
                width: 100px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                color: #fff;
            }
        }
    }
}