/* 固定定位 */
#fixed{
    width: 30px;
    height: $w;
    background-color: black;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}
/* 广告 */
#top{
    width: $w;
    height: 100px;
    background: #bc030f;
    .advertising{
        width: $width;
        height: 100px;
        background: url(https://img.ingping.com/images/gg_images/202005/202005291831080775481.jpg) no-repeat;
        margin: 0 auto;
    }
}
