$width:1200px;
$w:100%;
$size:12px;
$font_size:14px;

@mixin borderstyle($size:1px, $style:solid, $color:#ccc) {
 border: $size $style $color;
}

body{
    background: #f2f2f2;
    position: relative;
}

.contant{
    width: $width;
    margin: 0 auto;
}

@import "top.scss";
@import "header.scss";
@import "logo.scss";
@import "lunbo.scss";
@import "record.scss";
@import "like.scss";
@import "sell.scss";



