#contant_cart {
  width: 1200px;
  margin: 0 auto;
  margin-top: 170px;
}

.xinxi {
  width: 1200px;
  height: 50px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding-left: 30px;
}

.xinxi .select {
  width: 80px;
  height: 50px;
}

.xinxi .select input {
  width: 16px;
  height: 16px;
}

.select span {
  display: inline-block;
  margin-left: 10px;
}

.xinxi div {
  float: left;
  line-height: 50px;
  color: #666;
}

.xinxi .goods {
  margin-right: 500px;
}

.xinxi .div {
  margin-right: 92px;
}

.repeat {
  width: 1200px;
  height: 180px;
  border: 1px solid #eaeaea;
  border-top: none;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 20px;
  background-color: #fcfcfc;
}

.repeat div {
  color: #333333;
  float: left;
}

.repeat .select {
  width: 80px;
  height: 160px;
  clear: both;
}

.repeat .select input {
  width: 16px;
  height: 16px;
  margin-top: 50px;
}

.second {
  width: 550px;
  height: 160px;
}

.second .img10{
  margin-right: 20px;
  width: 130px;
  height: 130px;
  display: inline-block;
  cursor: pointer;
}
.second .img10 img{
  width: 130px;
  height: 130px;
  display: inline-block;
}

.second .title {
  width: 350px;
  height: 160px;
  font-size: 16px;
  margin-top: 20px;
}

.three {
  margin-right: 50px;
  font-size: 16px;
  margin-top: 50px;
}

.three span {
  margin-top: 10px;
  display: inline-block;
  font-size: 16px;
}

.three .jia {
  width: 104px;
  height: 32px;
}

.jia .jian {
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #eaeaea;
  cursor: pointer;
  user-select: none;
}

.jia input {
  width: 60px;
  height: 30px;
  float: left;
  text-align: center;
  border: 1px solid #eaeaea;
  border-left: none;
  border-right: none;
}

.jia .jia01 {
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #eaeaea;
  cursor: pointer;
  user-select: none;
}

.three .span01 {
  color: #ff6600;
  font-weight: 900;
}

.three a {
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
  display: inline-block;
}

.three a:hover {
  color: #ff6600;
}

.three .i {
  color: #ff6600;
}

.jiesuan {
  width: 1200px;
  height: 100px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding-left: 30px;
  margin-top: 30px;
}

.jiesuan a {
  color: #666666;
}

.jiesuan a:hover {
  color: #ff6600;
}

.jiesuan .select {
  margin-right: 30px;
}

.jiesuan div {
  float: left;
  margin-top: 40px;
}

.jiesuan .yixuan {
  margin-left: 250px;
  margin-right: 250px;
}

.jiesuan .span20 {
  font-size: 18px;
  font-weight: 900;
  color: #ff6600;
}
.jiesuan .span30 {
  font-size: 18px;
  font-weight: 900;
  color: #ff6600;
}

.jiesuan button {
  width: 170px;
  height: 98px;
  border: none;
  background-color: #e50007;
  float: right;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.contant {
  width: 1200px;
  margin: 0 auto;
}

/* 头部 */

#header {
  width: 100%;
  height: 35px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #edeef0;
}

#header .contant {
  height: 35px;
}

#header .contant .header_left {
  float: left;
  line-height: 35px;
}

#header .contant .header_left span {
  font-size: 12px;
  margin-right: 13px;
  position: relative;
}

#header .contant .header_left span::after {
  content: " ";
  position: absolute;
  top: 2px;
  right: -14px;
  width: 1px;
  height: 12px;
  background: #e2dde2;
}

#header .contant .header_left a {
  font-size: 12px;
  color: #ff6600;
  margin: 0 10px 0 10px;
  position: relative;
}

#header .contant .header_left a::after {
  content: " ";
  position: absolute;
  top: 2px;
  right: -10px;
  width: 1px;
  height: 12px;
  background: #e2dde2;
}

#header .contant .header_right {
  float: right;
  line-height: 35px;
}

#header .contant .header_right ul li {
  height: 35px;
  float: left;
  position: relative;
}

#header .contant .header_right a {
  height: 35px;
  display: inline-block;
  padding: 0 30px 0 30px;
  font-size: 12px;
  color: #333333;
  box-sizing: border-box;
  position: relative;
  border-left: 1px solid #fcfcfc;
  border-right: 1px solid #fcfcfc;
}

#header .contant .header_right a i {
  padding-right: 5px;
}

#header .contant .header_right a .icon-wode {
  vertical-align: middle;
}

#header .contant .header_right a .icon-xiala {
  padding-left: 5px;
  font-size: 6px;
  color: #999999;
}

#header .contant .header_right a span {
  position: absolute;
  top: 0px;
  left: 115px;
}

#header .contant .header_right a:hover {
  color: #ff6600;
  border-left: 1px solid #edeef0;
  border-right: 1px solid #edeef0;
}

#header .contant .header_right li:hover ol {
  display: block;
}

#header .contant .header_right .ol1 {
  position: absolute;
  width: 150px;
  top: 35px;
  background-color: #fff;
  display: none;
  z-index: 33;
}

#header .contant .header_right .ol1 li {
  line-height: 35px;
  text-align: left;
  border-bottom: 1px solid #edeef0;
}

#header .contant .header_right .ol1 li:hover {
  background-color: #edeef0;
}

#header .contant .header_right .ol1 a {
  width: 150px;
  height: 35px;
  display: inline-block;
}

#header .contant .header_right .ol2 {
  width: 280px;
  height: 240px;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 66;
  background-color: #fff;
  padding: 0 10px 0 10px;
  display: none;
}

#header .contant .header_right .ol2 li {
  width: 280px;
  height: 119px;
  border-bottom: 1px solid #edeef0;
}

#header .contant .header_right .ol2 .img_left {
  float: left;
  height: 120px;
  margin-left: 20px;
}

#header .contant .header_right .ol2 .img_right {
  margin-top: 40px;
  background-color: #ff6600;
  display: inline-block;
  padding: 0 20px 0 20px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

#header .contant .header_right .ol2 .img_bottom {
  display: block;
  font-size: 12px;
}

#header .contant .header_right .ol2 img {
  width: 120px;
  height: 119px;
}

#header .contant .header_right .ol2 .weixin {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: 20px;
  float: left;
}

#header .contant .header_right .ol2 .weixin img {
  width: 60px;
  height: 60px;
}

#header .contant .header_right .ol2 .span1 {
  margin-top: 25px;
  margin-left: 100px;
  display: block;
  font-size: 12px;
  color: #666666;
}

#header .contant .header_right .ol2 .span2 {
  margin-top: -10px;
  margin-left: 100px;
  display: block;
  font-size: 12px;
  color: #666666;
}

#header .contant .header_right .ol2 .img01 {
  float: right;
  width: 100px;
  height: 100px;
  margin-top: -75px;
  margin-right: 20px;
}

#logo {
  width: 100%;
  height: 160px;
  background-color: #fff;
}

#logo .contant {
  height: 160px;
}

#logo .contant .logo_top {
  width: 1200px;
  height: 100px;
  padding-top: 20px;
}

#logo .contant .logo_top .img02 {
  float: left;
}

#logo .contant .logo_top .img03 {
  float: left;
  margin-left: 20px;
  margin-right: 35px;
}

#logo .contant .logo_top .search {
  width: 600px;
  float: left;
  margin-top: 20px;
}

#logo .contant .logo_top input {
  width: 400px;
  height: 32px;
  border: 2px solid #ff6600;
  border-right: none;
  text-indent: 10px;
  color: #999999;
}

#logo .contant .logo_top button {
  width: 90px;
  height: 36px;
  border: none;
  background-color: #ff6600;
  border-bottom: 2px solid #ff6600;
  margin-left: -4px;
  cursor: pointer;
  color: #fff;
}

#logo .contant .logo_top ul {
  width: 480px;
  height: 30px;
  margin-top: 8px;
}

#logo .contant .logo_top ul li {
  float: left;
  margin-right: 6px;
}

#logo .contant .logo_top ul a {
  font-size: 12px;
  color: #666666;
}

#logo .contant .logo_top ul a:hover {
  color: #ff6600;
}

#logo .contant .logo_top .ping {
  float: right;
  width: 176px;
  height: 40px;
  margin-top: -70px;
}

#logo .contant .logo_top i {
  float: left;
}

#logo .contant .logo_top .icon-shouji {
  display: block;
  font-size: 40px;
}

#logo .contant .logo_top .phone {
  float: left;
  width: 40px;
  height: 38px;
  padding-top: 2px;
  font-weight: 900;
  cursor: pointer;
}

#logo .contant .logo_top .phone1 {
  color: #ff6600;
}

#logo .contant .logo_top .span {
  width: 1px;
  height: 36px;
  margin-top: 4px;
  display: block;
  float: left;
  background-color: #dddddd;
}

#logo .contant .logo_top .zheng {
  float: left;
  cursor: pointer;
}

#logo .contant .logo_top .zheng1 {
  font-size: 32px;
  font-weight: 900;
  color: #ff6600;
  margin-left: 10px;
}

#logo .contant .logo_top .bao {
  width: 16px;
  height: 40px;
  font-size: 12px;
  font-weight: 900;
  display: inline-block;
}

#logo .contant .logo_bottom {
  width: 1200px;
  height: 40px;
}

#logo .contant .logo_bottom .all {
  width: 210px;
  height: 40px;
  line-height: 40px;
  background-color: #ff6600;
  color: #fff;
  text-indent: 13px;
  cursor: pointer;
  font-size: 16px;
  float: left;
  margin-right: 50px;
}

#logo .contant .logo_bottom ol {
  width: 770px;
  height: 40px;
  float: left;
}

#logo .contant .logo_bottom ol li {
  float: left;
  line-height: 40px;
  margin-right: 50px;
}

#logo .contant .logo_bottom ol a {
  color: #333333;
  font-weight: 900;
}

#logo .contant .logo_bottom ol a:hover {
  color: #ff6600;
}

#logo .contant .logo_bottom .dian {
  width: 150px;
  height: 40px;
  float: left;
  margin-left: 5px;
}

#logo .contant .logo_bottom .dian img {
  width: 150px;
  height: 40px;
}

#logo .contant .logo_bottom ol .li01:hover .item {
  display: block;
}

#logo .contant .logo_bottom ol .li02:hover .item1 {
  display: block;
}

#logo .contant .logo_bottom .item {
  width: 450px;
  height: 40px;
  position: absolute;
  top: 196px;
  left: 360px;
  z-index: 299;
  display: none;
  background-color: #ff6600;
  box-sizing: border-box;
}

#logo .contant .logo_bottom .item1 {
  width: 450px;
  height: 40px;
  position: absolute;
  top: 196px;
  left: 467px;
  z-index: 299;
  display: none;
  background-color: #ff6600;
  box-sizing: border-box;
}

#logo .contant .logo_bottom .item .li {
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
}

#logo .contant .logo_bottom .item1 .li {
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
}