#footer{
    width: 100%;
    height: 150px;
    margin-top: 50px;
    text-align: center;  
}
.nav{
    margin-bottom: 10px;
}
.nav a{
    display: inline-block;
    color: #919191;
    padding: 0 6px;
    line-height: 1.2;
}
.nav em{
    color: #ddd;
    font-style: normal;
}
.copyright{
    color: #999;
    line-height: 26px;
}