#quan{
  width: 100%;
  height: 100px;
  padding-left: 100px;
}
.contant01{
    width: 1200px;
    margin: 0 auto;
    height: 90px;
    padding-top: 10px;
}
.contant01 .top .img02 {
    float: left; }
  .contant01 .top .img03 {
    float: left;
    margin-left: 20px;
    margin-right: 35px; }
  .contant01 .top .search {
    width: 600px;
    float: left;
    margin-top: 10px; }
  .contant01 .top input {
    width: 400px;
    height: 32px;
    border: 2px solid #ff6600;
    border-right: none;
    text-indent: 10px;
    color: #999999; }
  .contant01 .top button {
    width: 90px;
    height: 36px;
    border: none;
    background-color: #ff6600;
    border-bottom: 2px solid #ff6600;
    margin-left: -4px;
    cursor: pointer;
    color: #fff; }
  .contant01 .top ul {
    width: 480px;
    height: 30px;
    margin-top: 8px; }
  .contant01 .top ul li {
    float: left;
    margin-right: 6px; }
  .contant01 .top ul a {
    font-size: 12px;
    color: #666666; }
  .contant01 .top ul a:hover {
    color: #ff6600; }
  .contant01 .top .ping {
    float: right;
    width: 176px;
    height: 40px;
    margin-top: -70px; }
  .contant01 .top i {
    float: left; }
  .contant01 .top .icon-shouji {
    display: block;
    font-size: 40px; }
  .contant01 .top .phone {
    float: left;
    width: 40px;
    height: 38px;
    padding-top: 2px;
    font-weight: 900;
    cursor: pointer; }
  .contant01 .top .phone1 {
    color: #ff6600; }
  .contant01 .top .span {
    width: 1px;
    height: 36px;
    margin-top: 4px;
    display: block;
    float: left;
    background-color: #dddddd; }
  .contant01 .top .zheng {
    float: left;
    cursor: pointer; }
  .contant01 .top .zheng1 {
    font-size: 32px;
    font-weight: 900;
    color: #ff6600;
    margin-left: 10px; }
  .contant01 .top .bao {
    width: 16px;
    height: 40px;
    font-size: 12px;
    font-weight: 900;
    display: inline-block; }